@import 'bootstrap/scss/bootstrap';

.hover-badge:hover {
    background-color: #edecec !important;
    transition: background-color 0.2s ease-in-out;
}

.card-img-container {
    height: 300px;
    padding: 2px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
    }
}

.card-text-container {
    height: 260px;
}